@import 'variables';

#Welcome {
    max-width: 30rem;
    height: 20rem;
    margin: 0 auto;
    text-align: center;
    padding: 4rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .logo {
        width: 10rem;
        width: 10rem;
        border-radius: 50%;
    }
    .of-age-container {
        width: 100%;
    }
    .btn-container {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }  
    button {
        width: 8rem;
        height: 2rem;
        background-color: $Black;
        color: $White;
        font-size: 1rem;
        outline: none;
        &:hover {
            cursor: pointer;
        }
    } 
}